<table class="table table-dark table-bordered border-light">
  <thead>
    <tr>
      <th scope="col">-</th> <!-- Default header -->
      @for(row of this.tableData.rowHeaders; track $index){
        <th scope="col">{{row}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(dataRow of this.tableData.matrix; track $index){
      <tr>
        <th scope="row">{{this.tableData.rowHeaders[$index]}}</th>
        @for(data of dataRow; track $index){
          <td class="text-center">{{data}}</td>
        }
      </tr>
    }
  </tbody>

</table>
