<table class="table table-dark table-bordered border-light">
  <thead>
    <tr>
      <th scope="col">-</th> <!-- Default header -->
      @for(row of this.tableData.rowHeaders; track $index){
        <th scope="col">{{row}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(dataRow of this.tableData.matrix; track $index){
      <tr>
        <th scope="row">{{this.tableData.colHeaders[$index]}}</th>
        @for(data of dataRow; track $index){
          @if (data[0] == '-'){
            <td class="text-center bg-success">{{data.slice(1)}}</td>
          } @else {
            <td class="text-center">{{data}}</td>
          }
        }
      </tr>
    }
  </tbody>

</table>
