<div class="modal fade text-dark" id="fileInputReplacementOfEquipment" tabindex="-1" aria-labelledby="fileInputModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileInputModalLabel">Select the input file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Only CSV files allowed.</p>
        <input type="file" (change)="onFileChange($event)" class="form-control mb-3" />

        <div class="input-group mb-3">
          <span class="input-group-text" id="initialCost">Initial cost of the item</span>
          <input #initialCost type="number" class="form-control" placeholder="Initial cost of the item" aria-label="Initial cost of the item" aria-describedby="initialCost" min="1">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="usefulLife">Useful life (years)</span>
          <input #usefulLife type="number" class="form-control" placeholder="Useful life" aria-label="Useful life" aria-describedby="usefulLife" min="1">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="planDuration">Duration of the plan (years)</span>
          <input #planDuration type="number" class="form-control" placeholder="Duration of the plan" aria-label="Duration of the plan" aria-describedby="planDuration" min="1">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="confirmFile()">Confirm</button>
      </div>
    </div>
  </div>
</div>
